name: Go CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Lint, Test & Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Prepare Config
      run: |
        cp configs/config_example.yaml configs/config.yaml

    - name: Install dependencies
      run: go mod download

    - name: Run Linter
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest

    - name: Run Tests
      run: go test -v ./...

    - name: Build Binary
      run: go build -v -o voiceops ./cmd/VoiceOps/main.go